body {
  background-color: #232326ff;
  margin: 0px;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 70px;
  font-size: large;
  font-weight: bold;
  background-color: #bf3245ff;
  z-index: 10;
}
#nav-items{
  display: flex;
  gap: 3rem;
  list-style-type: none;
  padding-right: 30px;
  font-size: 1.35rem;
}
#nav-items a{
  text-decoration: none;
  color: white;
}
.hero-div{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: whitesmoke;
}
#hero-head{
  font-size: 60px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  align-content: center;
  margin: 0px;
  padding-top: 300px;
}
#hero-para {
  font-size: 2.5rem;
  font-weight: 200;
  font-style: 'Poppins', sans-serif;
  color: red;
  margin: 0px;
}